In [36]:
import os
import pandas as pd
import glob

from pathlib import Path

In [37]:
dir_path = Path(os.getcwd())
data_dir = str(os.path.join(dir_path.parent,'data'))
balance_files = glob.glob(data_dir + "/poker_balances*.csv")
hands_files = glob.glob(data_dir + "/poker_hands*.csv")

def get_hands_df():
    hands_dfs=[]

    for file in hands_files:
        new_df = pd.read_csv(file)
        hands_dfs.append(new_df)

    hands = pd.concat(hands_dfs)
    return hands
    
def get_balance_df():
    balance_dfs=[]
    
    for file in balance_files:
        new_df = pd.read_csv(file)
        balance_dfs.append(new_df)
        
    balances = pd.concat(balance_dfs)
    return balances

In [38]:
hands_base = get_hands_df()
games = get_balance_df()
hands = pd.merge(hands_base,games)

In [39]:
pd.set_option('display.max_columns', None)  
balances

,game_id,player_name,player_type,game_result,game_reason,blind_type,beginning_balance,game_start_balance,game_end_balance,game_net_change
0,1,players_5,AlwaysCallPlayer,won,won_game,None,100000,100000,100000,0
1,2,players_5,AlwaysCallPlayer,won,won_game,None,100000,100000,100000,0
2,3,players_5,AlwaysCallPlayer,won,won_game,small,100000,100000,100000,0
3,4,players_5,AlwaysCallPlayer,won,won_game,big,100000,100000,100000,0
4,5,players_5,AlwaysCallPlayer,won,won_game,None,100000,100000,100000,0
...,...,...,...,...,...,...,...,...,...,...
795,96,players_4,AlwaysCallPlayer,won,won_game,None,100000,100022,100022,0
796,97,players_4,AlwaysCallPlayer,won,won_game,None,100000,100022,100022,0
797,98,players_4,AlwaysCallPlayer,won,won_game,None,100000,100022,100022,0
798,99,players_4,AlwaysCallPlayer,won,won_game,None,100000,100022,100026,4
799,100,players_4,AlwaysCallPlayer,won,won_game,small,100000,100026,100026,0

In [40]:
hands

,game_id,player_name,player_type,bet_number,opponents,call,current,final,pot,allowed,hand1,hand2,community1,community2,community3,community4,community5,game_result,game_reason,blind_type,beginning_balance,game_start_balance,game_end_balance,game_net_change
0,1,players_3,AlwaysCallPlayer,1,5,10,0,10.0,35,True,2-hearts,K-spades,Z-N/A,Z-N/A,Z-N/A,Z-N/A,Z-N/A,won,won_game,None,100000,100000,100000,0
1,1,players_3,AlwaysCallPlayer,2,5,0,10,10.0,60,True,2-hearts,K-spades,2-spades,8-diamonds,9-spades,Z-N/A,Z-N/A,won,won_game,None,100000,100000,100000,0
2,1,players_3,AlwaysCallPlayer,3,5,0,10,10.0,60,True,2-hearts,K-spades,10-diamonds,2-spades,8-diamonds,9-spades,Z-N/A,won,won_game,None,100000,100000,100000,0
3,1,players_3,AlwaysCallPlayer,4,5,10,10,20.0,90,True,2-hearts,K-spades,10-diamonds,2-spades,8-diamonds,9-spades,Q-hearts,won,won_game,None,100000,100000,100000,0
4,1,players_3,AlwaysCallPlayer,5,5,0,20,20.0,120,True,2-hearts,K-spades,10-diamonds,2-spades,8-diamonds,9-spades,Q-hearts,won,won_game,None,100000,100000,100000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406109,9000,players_2,AlwaysCallPlayer,1,5,5,5,10.0,55,True,5-diamonds,K-diamonds,Z-N/A,Z-N/A,Z-N/A,Z-N/A,Z-N/A,won,won_game,small,100000,100422,100422,0
406110,9000,players_2,AlwaysCallPlayer,2,5,0,10,10.0,60,True,5-diamonds,K-diamonds,10-hearts,8-hearts,A-diamonds,Z-N/A,Z-N/A,won,won_game,small,100000,100422,100422,0
406111,9000,players_2,AlwaysCallPlayer,3,5,0,10,10.0,60,True,5-diamonds,K-diamonds,10-hearts,7-spades,8-hearts,A-diamonds,Z-N/A,won,won_game,small,100000,100422,100422,0
406112,9000,players_2,AlwaysCallPlayer,4,5,10,10,20.0,80,True,5-diamonds,K-diamonds,10-hearts,7-spades,8-hearts,A-diamonds,Z-N/A,won,won_game,small,100000,100422,100422,0
406113,9000,players_2,AlwaysCallPlayer,5,5,0,20,20.0,120,True,5-diamonds,K-diamonds,10-clubs,10-hearts,7-spades,8-hearts,A-diamonds,won,won_game,small,100000,100422,100422,0

In [41]:
games

,game_id,player_name,player_type,game_result,game_reason,blind_type,beginning_balance,game_start_balance,game_end_balance,game_net_change
0,1,players_3,AlwaysCallPlayer,won,won_game,None,100000,100000,100000,0
1,2,players_3,AlwaysCallPlayer,won,won_game,None,100000,100000,100004,4
2,3,players_3,AlwaysCallPlayer,won,won_game,small,100000,100004,100010,6
3,4,players_3,AlwaysCallPlayer,won,won_game,big,100000,100010,100018,8
4,5,players_3,AlwaysCallPlayer,won,won_game,None,100000,100018,100018,0
...,...,...,...,...,...,...,...,...,...,...
5995,8996,players_2,AlwaysCallPlayer,won,won_game,None,100000,100422,100422,0
5996,8997,players_2,AlwaysCallPlayer,won,won_game,None,100000,100422,100422,0
5997,8998,players_2,AlwaysCallPlayer,won,won_game,None,100000,100422,100422,0
5998,8999,players_2,AlwaysCallPlayer,won,won_game,None,100000,100422,100422,0
5999,9000,players_2,AlwaysCallPlayer,won,won_game,small,100000,100422,100422,0

# Basic Game Statistics

Number of Games played in the simulation

In [87]:
number_of_games = len(set(games.game_id))
number_of_games

10000

Players Mean number of chips gained and variance

In [88]:
chips_gained_per_game = games.groupby('player_name').mean('game_net_change')[['game_net_change']].reset_index()
variance_calculation = games[['player_name','game_net_change']]
variance_calculation['game_net_change'] = variance_calculation['game_net_change'] ** 2
expectation_squared = variance_calculation.groupby('player_name').mean('game_net_change').reset_index()
merged_expectations = pd.merge(expectation_squared,chips_gained_per_game,on='player_name')
merged_expectations['variance'] = merged_expectations['game_net_change_x'] - merged_expectations['game_net_change_y']
summary_stats = merged_expectations[['player_name','game_net_change_y','variance']]
summary_stats.columns = ['player_name','mean','variance']
summary_stats['games'] = number_of_games
summary_stats

c:\users\silbe\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

  player_name    mean  variance  games
0   players_1  0.4544    2.9146  10000
1   players_2  0.4544    2.9146  10000
2   players_3  0.4544    2.9146  10000
3   players_4  0.4544    2.9146  10000
4   players_5  0.4544    2.9146  10000
5   players_6 -2.2720   86.4970  10000

Top 10 Best Card Hands Dealt by Mean Number of Chips Gained

In [118]:
two_card_hands = hands[['game_id','player_name','player_type','hand1','hand2','game_net_change']]
two_card_hands = two_card_hands.drop_duplicates()
best_two_card_hands = two_card_hands.groupby(['player_name','hand1','hand2']).mean().reset_index()[['player_name','hand1','hand2','game_net_change']]
best_two_card_hands = best_two_card_hands.sort_values(by=['player_name','game_net_change'], ascending=[True,False])
best_two_card_hands.groupby('player_name').head(10)

     player_name        hand1       hand2  game_net_change
80     players_1  10-diamonds    8-spades         5.000000
1169   players_1   9-diamonds  Q-diamonds         5.000000
625    players_1     4-hearts    5-hearts         4.000000
766    players_1     5-hearts  6-diamonds         4.000000
989    players_1   7-diamonds  J-diamonds         4.000000
1075   players_1   8-diamonds  9-diamonds         4.000000
1110   players_1     8-hearts    K-spades         4.000000
1003   players_1     7-hearts    8-hearts         3.666667
277    players_1   2-diamonds    A-hearts         3.600000
19     players_1     10-clubs     6-clubs         3.500000
1835   players_2     3-spades     5-clubs         7.000000
1863   players_2     3-spades     K-clubs         7.000000
1722   players_2      3-clubs    7-hearts         4.000000
2593   players_2      J-clubs  Q-diamonds         4.000000
1709   players_2      3-clubs  4-diamonds         3.666667
2105   players_2     5-hearts    9-hearts         3.666667
2057   players_2   5-diamonds    5-spades         3.500000
1464   players_2    10-hearts  J-diamonds         3.333333
1602   players_2   2-diamonds    A-hearts         3.333333
2621   players_2     J-spades    Q-hearts         3.250000
2857   players_3      2-clubs    4-hearts         4.000000
2959   players_3     2-hearts  7-diamonds         4.000000
2809   players_3    10-spades  4-diamonds         3.500000
2730   players_3  10-diamonds    8-hearts         3.333333
3086   players_3   3-diamonds    6-spades         3.333333
3020   players_3     2-spades    J-hearts         3.142857
3346   players_3      5-clubs    5-hearts         3.142857
2868   players_3      2-clubs  7-diamonds         3.000000
3542   players_3     6-hearts  7-diamonds         3.000000
3603   players_3      7-clubs    8-spades         3.000000
4729   players_4   5-diamonds  J-diamonds         8.000000
5155   players_4     9-hearts    J-hearts         5.000000
4361   players_4      3-clubs    4-spades         4.000000
5176   players_4     9-spades    K-spades         4.000000
4836   players_4   6-diamonds    6-hearts         3.500000
5138   players_4   9-diamonds    J-hearts         3.500000
4858   players_4   6-diamonds     K-clubs         3.428571
4414   players_4   3-diamonds    7-hearts         3.333333
4757   players_4     5-hearts     A-clubs         3.333333
4887   players_4     6-hearts     K-clubs         3.333333
5371   players_5  10-diamonds  6-diamonds         8.000000
6559   players_5     A-spades    Q-hearts         6.000000
6311   players_5     7-hearts     A-clubs         4.500000
6262   players_5      7-clubs    A-hearts         4.400000
5838   players_5     3-spades    J-spades         4.000000
6547   players_5     A-hearts    Q-hearts         4.000000
6067   players_5     5-hearts     6-clubs         3.600000
5375   players_5  10-diamonds  7-diamonds         3.500000
6527   players_5   A-diamonds    J-spades         3.333333
6598   players_5     J-spades    Q-spades         3.333333
6630   players_6     10-clubs     2-clubs         0.000000
6633   players_6     10-clubs    2-spades         0.000000
6636   players_6     10-clubs    3-hearts         0.000000
6637   players_6     10-clubs    3-spades         0.000000
6640   players_6     10-clubs    4-hearts         0.000000
6641   players_6     10-clubs    4-spades         0.000000
6642   players_6     10-clubs     5-clubs         0.000000
6644   players_6     10-clubs    5-hearts         0.000000
6646   players_6     10-clubs     6-clubs         0.000000
6649   players_6     10-clubs    6-spades         0.000000